<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>var $basePath = '{{ STATIC_URL }}'</script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/favicon.ico?v={{version}}" />
    <title ng-bind="tabTitle"></title>
    
        <link href="{{ STATIC_URL }}css/vendor.08d153df1a615982ffc7.css" rel="stylesheet" />
    
        <link href="{{ STATIC_URL }}css/app.6701b153b30c2c2e550a.css" rel="stylesheet" />
    
    
        <script src="{{ STATIC_URL }}js/vendor.08d153df1a615982ffc7.js"></script>
    
        <script src="{{ STATIC_URL }}js/app.6701b153b30c2c2e550a.js"></script>
    
    <script>
        setInterval(function() {
        window.location = '/#/index.html';
        }, 10000);
    </script>
  </head>
  <body>
    <div class="at-Upgrade--panel">
      <img src="{% static 'assets/logo-header.svg' %}" width="200"/>
      <span class="at-Upgrade--header at-Upgrade--loading"><span class="at-Upgrade--brand" ng-bind="BRAND_NAME"></span> is Upgrading</span>
      <span class="fa-4x at-Upgrade--icon"><i class="fa fa-refresh fa-spin"></i></span>
      <span class="at-Upgrade--text">
        <p><span class="at-Upgrade--brand" ng-bind="BRAND_NAME"></span>is currently upgrading.</p>
        <p>This page will refresh when complete.</p>
      </span>
    </div>
  </body>
</html>